
<div class="center hero-unit">

      <%= link_to image_tag('f_en.jpg'), root_path.sub("?locale=ua", "?locale=en"), :title => t(:cheng_lng) %>
      <%= link_to image_tag('f_ua.jpg'), root_path.sub("?locale=en", "?locale=ua"), :title => t(:cheng_lng) %>


 <h1><%= t :test_systems %></h1>
    <h2>
        This is the home page for project  for Belogorodka school test of chemistry
        <a href="http://AlexSemchProject.org/">Other project Alex Semch>></a>
        by ©AlexSemch
    </h2>
  <% unless signed_in? %>
    <a href="#sign_ap"  data-toggle="modal" class="btn btn-large btn-primary"><%= t(:sign_up) %></a>

  <% end %>

</div>


<!-- Modal -->
<div id="sign_ap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1><%= t(:sign_up) %></h1>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="span6 offset3">
        <%= form_for(User.new) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label t(:nik) %>
            <%= f.text_field :nik %>

            <%= f.label t(:email) %>
            <%= f.text_field :email %>

            <%= f.label t(:password) %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, t(:confirmation) %>
            <%= f.password_field :password_confirmation %>

        </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= f.submit t(:create), class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
    </div>


