<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>

      <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>


<% else %>
<div class="center hero-unit">

      <%= link_to image_tag('f_en.jpg'), root_path.sub("?locale=ua", "?locale=en"), :title => t(:cheng_lng) %>
      <%= link_to image_tag('f_ua.jpg'), root_path.sub("?locale=en", "?locale=ua"), :title => t(:cheng_lng) %>


 <h1><%= t :test_systems %></h1>
    <h2>
        This is the home page for project  for Belogorodka school test of chemistry
        <a href="http://AlexSemchProject.org/">Other project Alex Semch>></a>
        by ©AlexSemch
    </h2>
  <% unless signed_in? %>
    <%= link_to t(:sign_up) , signup_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>

<% end %>


