<li>
  <% if student.user_id != nil %>

  <%= gravatar_for_student student, size: 52 %>
   <% end %>
  <%= link_to student.first_name + ' ' + student.name + ' ' + student.second_name, student %>
  <%= student.round_ball %>   <%= student.count_of_test %>
  <% if current_user.admin? %>
      | <%= link_to t(:delete), student, method: :delete,
                    data: { confirm: t(:Y_sure) } %>
      | <%= link_to t(:edit), edit_student_path(student), method: :get  %>

		
  <% end %>
  <div class="student-edit">
    <% if current_user.id == student.user_id %>
        <%= button_to t(:Remot_from_user), student_remote_from_user_path(student), action: :remote_from_user, method: :put, class: "btn btn-mini btn-warning " %>
    <% else %>
        <% unless student.has_user?(student) %>
            <%= button_to t(:Add_to_user), student_add_to_user_path(student), action: :add_to_user, method: :put, class: "btn btn-mini btn-success" %>
        <% end %>
    <% end %>
  </div>
</li>

