
<% provide(:title, t(:all_student)) %>
<h1><%= t(:all_students) %></h1>

<% content_for :right_side do %>
    <%= render 'top_stud' %>
<% end %>

      <%= will_paginate %>
      <ul class="users">
        <%= render @students %>
      </ul>
      <%= will_paginate %>



 


    



