<div class="student" >
 <table class="table_show" border="0px" cellpadding ="10px">
   <tr>
     <td rowspan="5"><%= gravatar_for_student @student, size: 200 %></td>
     <td colspan="2"><div class="family"><%= @student.first_name %> <%= @student.name %> <%= @student.second_name %></div> </td>
   </tr>
   <tr>
     <td><%= t(:class_st) %></td>
     <td><%= @student.class_st %></td>
   </tr>
   <tr>
     <td><%= t(:bir_date) %></td>
     <td><%= @student.birth_date %></td>
   </tr>
   <tr>
     <td><%= t(:round_ball) %></td>
     <td><%= @student.round_ball %></td>
   </tr>
   <tr>
     <td><%= t(:count_test) %></td>
     <td><%= @student.count_of_test %></td>
   </tr>

</table>

    <%= link_to t(:make_betta), root_path, data: {confirm: t("fna#{rand(1..5)}")} %>  <br>


</div>




