  <div id="top_s">
  <table id="top_student" class="display">
    <thead>
    <tr>
      <th><%= t(:class_st) %></th>
      <th><%= t(:student) %></th>
      <th><%= t(:round_ball) %></th>
    </tr>
    </thead>
    <tbody>
    <% @top_student.each do |tstud| %>

        <tr>
          <td><%= tstud.class_st %></td>
          <td><%= link_to tstud.name, tstud %></td>
          <td><%= tstud.round_ball.to_f.round(2) %></td>
        </tr>



    <% end %>
    </tbody>
  </table>
  </div>
