<% provide(:title,t(:edit)) %>
<h1><%= t(:update) %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      <%=  render 'fields', f: f %>
      <%= f.submit t(:save), class: "btn btn-large btn-primary" %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails"> <%= t(:change)  %></a> <br>
    <%= link_to t(:add_student), new_student_path, method: "add_student" %>

  </div>
</div>
