<%= content_tag_for(:tr, dthem) do %>

      <td><%= dthem.class_st %></td>
      <td><%== dthem.them_text %></td>
      <% if permitted_to? :show, :dthems %>
        <td><%= link_to t(:show), dthem %></td>
      <% end %>
      <% if permitted_to? :edit, :dthems %>
        <td><%= link_to t(:edit), edit_dthem_path(dthem) %></td>
      <% end %>
      <% if permitted_to? :destroy, :dthems %>
        <td><%= link_to t(:delete), dthem, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      <% end %>
      
     
     

<% end %>