<%= content_tag_for(:tr, dthem) do %>

      <td><%= dthem.class_st %></td>
      <td><%== dthem.them_text %></td>
      <td>
      <% if permitted_to? :show, :dthems %>
        <%= link_to(dthem, title: t(:show)) do  %>
          <i class="icon-search"></i>
        <% end %>

      <% end %>
      <% if permitted_to? :edit, :dthems %>
        <%= link_to(edit_dthem_path(dthem), title: t(:edit)) do %>
          <i class="icon-edit"></i>
        <% end %>

      <% end %>
      <% if permitted_to? :destroy, :dthems %>
        <%= link_to(dthem, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, title: t(:delete)) do  %>
              <i class="icon-trash"></i>
        <% end %>

      <% end %>
        </td>
     
     

<% end %>