<%= content_tag_for(:tr, dthem) do %>

      <td><%= dthem.class_st %></td>
      <td><%== dthem.them_text %></td>
      <td><%= link_to 'Show', dthem %></td>
      <td><%= link_to 'Edit', edit_dthem_path(dthem) %></td>
      <td><%= link_to 'Destroy', dthem, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>

<% end %>