<h1><%= t(:list_tem) %></h1>

<table id="index_dtem" class="table">
  <tr>
    <th><%= t(:class_st) %></th>
    <th><%= t(:tem) %></th>
    <th></th>

  </tr>

  <%= render :partial => @dthems %>
</table>

<br />
<% if permitted_to? :new, :dthems %>
  <%= link_to t(:new_tem), new_dthem_path, remote: true, id: :new_tem %>
<% end %>
