<p id="notice"><%= notice %></p>

<p>
  <b>Class st:</b>
  <%= @dthem.class_st %>
</p>

<p>
  <b>Them text:</b>
  <%= @dthem.them_text %>
</p>

<% if permitted_to? :edit, :dthems %>
  <%= link_to 'Edit', edit_dthem_path(@dthem) %> |
<% end %>
<%= link_to 'Back', dthems_path %>
