<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:class_st) %></b>
  <%= @dthem.class_st %>
</p>

<p>
  <b><%= t(:tem) %></b>
  <%= @dthem.them_text %>
</p>

<% if permitted_to? :edit, :dthems %>
  <%= link_to t(:edit), edit_dthem_path(@dthem) %> |
<% end %>
<%= link_to t(:back), dthems_path %>
