<p id="notice"><%= notice %></p>

<p>
  <b>Class st:</b>
  <%= @dthem.class_st %>
</p>

<p>
  <b>Them text:</b>
  <%= @dthem.them_text %>
</p>


<%= link_to 'Edit', edit_dthem_path(@dthem) %> |
<%= link_to 'Back', dthems_path %>
