<%= content_tag_for(:tr, dquestion) do %>
    <td><%= link_to(dtest_dquestion_path(@dtest,dquestion)) do  %> <%==  dquestion.question_text %> <% end %>


    <td>
    <% if permitted_to? :show, :dquestions %>
      <%= link_to([@dtest, dquestion], title: t(:show) ) do %> 
         <i class="icon-search"></i>
      <% end %>
    <% end %>
    <% if permitted_to? :edit, :dquestions %>
      <%= link_to([:edit, @dtest, dquestion], title: t(:edit_quest), remote: true, id: 'edit_'+ (dquestion.id).to_s) do %>
        <i class="icon-edit"></i>
      <% end %>
    <% end %>
    <% if permitted_to? :destroy, :dquestions %>
      <%= link_to([@dtest, dquestion], method: :delete, data: { confirm: t(:Y_sure) }, remote: true, title: t(:delete)) do%>
        <i class="icon-trash"></i>
      <% end %>
    <% end %>

      
      
    </td>
<% end %>