<div id="new_dquest_form" class="well well-small">
<%= form_for([@dtest, @dquestion], remote: true) do |f| %>
  <% if @dquestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dquestion.errors.count, "error") %> prohibited this dquestion from being saved:</h2>

      <ul>
      <% @dquestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:question_text) %><br />
    <%= f.cktext_area :question_text, :ckeditor => {:language => "uk", :autoParagraph => false, :height => 70 , :toolbarGroups => [
            { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'styles' },
            { name: 'colors' }
    ]} %>
  </div>
  <div class="field">
    <%= f.label t(:count_answer) %><br />
    <%= f.number_field :count_answer %>
  </div>

  <div class="offset1">
      <%= f.fields_for :danswers do |builder| %>
        <table border="0px" style="width: 100%">
          <tr>
            <th><%= t(:is_true) %></th>
            <th><%= t(:answer_text) %></th>
          </tr>
          <tr>
            <td><%= builder.check_box :ans_is_true %></td>
            <td><%= builder.cktext_area :answer_text, :ckeditor => {:language => "uk", :autoParagraph => false, :height => 40 , :toolbarGroups => [
                    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }

                    ]} %></td>
          </tr>

        </table>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit t(:save), options={ :class => "btn btn-inverse"} %>
  </div>
<% end %>
</div>

