<h1>Listing dquestions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Count answer</th>
    <th>Dtest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dquestions.each do |dquestion| %>
  <tr>
    <td><%= dquestion.question_text %></td>
    <td><%= dquestion.count_answer %></td>
    <td><%= dquestion.dtest_id %></td>
    <td><%= link_to 'Show', dquestion %></td>
    <td><%= link_to 'Edit', edit_dquestion_path(dquestion) %></td>
    <td><%= link_to 'Destroy', dquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dquestion', new_dquestion_path %>
