<h1><%= t(:list_quest) %></h1>

<%= link_to '<< '+ t(:b_tests), dtests_path, class: "btn" %>  <br />
<table class = "table table-striped" id="index_dquest">
  <tr>
    <th><%= t(:question_text) %></th>
    <th></th>
    
  </tr>
    <%= render :partial => @dquestions %>
</table>

<br />

<%= link_to t(:new_quest), new_dtest_dquestion_path(@dtest), id: "new_dquest", remote: true  %>
   