<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:question_text)+':' %></b>
  <%== @dquestion.question_text %>
</p>

<p>
  <b><%= t(:count_answer)+':' %></b>
  <%= @dquestion.count_answer %>
</p>

<p>
  <b><%= t(:test)+':' %></b>
  <%= @dquestion.dtest_id %>
</p>


<%= link_to t(:edit), [:edit, @dtest, @dquestion] %> |
<%= link_to t(:back),  dtest_dquestions_url(@dtest.id, @dquestions) %>
