<p id="notice"><%= notice %></p>
<%= link_to '<< '+t(:back),  dtest_dquestions_url(@dtest.id, @dquestions), class: 'btn' %>  <br />

<h2>
    <%== @dquestion.question_text %>
</h2>
<div id="danswer_list" class="well">
  <%= render @danswers %>
</div>
<% if permitted_to? :new, :danswers %>
    <%= link_to t(:new_danswer), new_danswer_path, id: "new_answer_link", remote: true %>
<% end %>


