<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:question_text)+':' %></b>
  <%== @dquestion.question_text %>
</p>

<p>
  <b><%= t(:count_answer)+':' %></b>
  <%= @dquestion.count_answer %>
</p>

<p>
  <b><%= t(:test)+':' %></b>
  <%= @dquestion.dtest_id %>
</p>

<% if permitted_to? :edit, :dquestions %>
  <%= link_to t(:edit), [:edit, @dtest, @dquestion] %> |
<% end %>
<%= link_to t(:back),  dtest_dquestions_url(@dtest.id, @dquestions) %>  <br />
<%= link_to "answer", danswers_path, class: "btn btn-large" %>
