<%= form_for(@danswer) do |f| %>
  <% if @danswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@danswer.errors.count, "error") %> prohibited this danswer from being saved:</h2>

      <ul>
      <% @danswer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function() {
        new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html','image']}).panelInstance('danswer_answer_text');

    });
    //]]>
</script>

    <table border="0px" style="width: 100%">
      <tr>
        <th><%= t(:is_true) %></th>
        <th><%= t(:answer_text) %></th>
      </tr>
      <tr>
        <td><%= f.check_box :ans_is_true %></td>
        <td><%= f.text_area :answer_text %></td>
      </tr>

    </table>
  <div class="actions" style="text-align: center">
    <%= f.submit %>
  </div>
<% end %>
