<h1><%== @question.question_text  %></h1>

<table>
  <tr>
    <th>Answer text</th>
    <th>Ans is true</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @danswers.each do |danswer| %>
  <tr>
    <td><%= danswer.answer_text %></td>
    <td><%= danswer.ans_is_true %></td>
    <td><%= link_to 'Show', danswer %></td>
    <td><%= link_to 'Edit', edit_danswer_path(danswer) %></td>
    <td><%= link_to 'Destroy', danswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Danswer', new_danswer_path %>
