<%= form_for(@dtest) do |f| %>
  <% if @dtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtest.errors.count, "error") %> prohibited this dtest from being saved:</h2>

      <ul>
      <% @dtest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="sample">
 <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
        new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html','image']}).panelInstance('dtest_test_name');
        
  });
  //]]>
  </script>

  <div class="field">
    <%= f.label :test_name %><br />
    <%= f.text_area :test_name %><br />
  </div>
</div>
  <div class="field">
    <%= f.label :count_test %><br />
    <%= f.number_field :count_test %><br />
  </div>
  <div class="field">
    <%= f.label :time_exec %><br />
    <%= f.number_field :time_exec %><br />
  </div>
  <div class="field">
    <%= f.label :test_descr %><br />
    <%= f.text_area :test_descr %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
