<h1><%= t(:list_test) %></h1>

<table class = "table table-striped">
  <tr>
    <th><%= t(:test_name) %></th>
    <th><%= t(:count_test) %></th>
    <th><%= t(:time_exec) %></th>
    <th><%= t(:test_descr) %></th>
    <th></th>
    
  </tr>

<% @dtests.each do |dtest| %>
  <tr id="tr_t<%= dtest.id %>">
    <td><a href="<%= dtest_path(dtest) %>"> <%== dtest.test_name %></a> </td>
    <td><%= dtest.count_test %></td>
    <td><%= dtest.time_exec %></td>
    <td><%= dtest.test_descr %></td>
    <td><%= link_to t(:show), dtest %> |
    <%= link_to t(:edit), edit_dtest_path(dtest) %> |
    <%= link_to t(:delete), dtest, method: :delete, data: { confirm: 'Are you sure?' } %> ||
    <%= link_to t(:add_quest), new_dtest_dquestion_path(dtest) %>
  </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:n_test), new_dtest_path, class: "btn btn-large" %>
