<h1><%= t(:list_test) %></h1>


<table id="dtest_index" class = "display">
  <thead>
  <tr>
    <th><%= t(:class_st) %></th>
    <th><%= t(:test_name) %></th>
    <th><%= t(:count_test) %></th>
    <th><%= t(:time_exec) %></th>
    <th><%= t(:test_descr) %></th>
    <th></th>
    
  </tr>
  </thead>
  <tbody>

<% @dtests.each do |dtest| %>
  <tr>
    <td><%= (Dthem.find(dtest.dthem_id)).class_st %></td>
    <td><a href="<%= dtest_path(dtest) %>"> <%== dtest.test_name %></a> </td>
    <td><%= dtest.count_test %></td>
    <td><%= dtest.time_exec %></td>
    <td><%= dtest.test_descr %></td>
    <td>
    <% if permitted_to? :show, :dtests %>
      <%= link_to(dtest, title: t(:show)) do %> <i class="icon-search"></i> <% end %>
    <% end %>
    <% if permitted_to? :edit, :dtests %>
      <%= link_to(edit_dtest_path(dtest), title: t(:edit)) do %> <i class="icon-edit"></i> <% end %>
    <% end %>
    <% if permitted_to? :destroy, :dtests %>
      <%= link_to(dtest, method: :delete, data: { confirm: 'Are you sure?' }, title: t(:delete))  do %>   <i class="icon-trash"></i> <% end %>
    <% end %>
    <% if permitted_to? :new, :dquestions %>      
      <%= link_to t(:add_quest), new_dtest_dquestion_path(dtest), class: "btn" %>
    <% end %>
  </td>
  </tr>
<% end %>
  </tbody>
  <tfoot class="tfoot">
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  </tfoot>
</table>

<br />
<% if permitted_to? :new, :dtests %> 
  <%= link_to t(:n_test), new_dtest_path, class: "btn btn-large" %>
<% end %>
