<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:test_name)+':' %></b>
 <%== @dtest.test_name %>
</p>

<p>
  <b><%= t(:count_test)+':' %></b>
  <%= @dtest.count_test %>
</p>

<p>
  <b><%= t(:time_exec)+':' %></b>
  <%= @dtest.time_exec %>
</p>

<p>
  <b><%= t(:test_descr)+':' %></b>
  <%= @dtest.test_descr %>
</p>


<%= link_to t(:edit), edit_dtest_path(@dtest) %> |
<%= link_to t(:back), dtests_path %>
<%= link_to t(:quests), dtest_dquestions_path(@dtest)  %>

