<p id="notice"><%= notice %></p>
 <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
        new nicEditor({buttonList : []}).panelInstance('test_name');

  });
  //]]>
  </script>

<p>
  <b>Test name:</b>
 <%== @dtest.test_name %>
</p>

<p>
  <b>Count test:</b>
  <%= @dtest.count_test %>
</p>

<p>
  <b>Time exec:</b>
  <%= @dtest.time_exec %>
</p>

<p>
  <b>Test descr:</b>
  <%= @dtest.test_descr %>
</p>


<%= link_to 'Edit', edit_dtest_path(@dtest) %> |
<%= link_to 'Back', dtests_path %>
<%= link_to 'Add questions', "#"  %>
