<h1><%= t(:list_teorii) %></h1>

    <%= select_tag :dthem, options_from_collection_for_select( @thems, :id, :them_text), id: :select_dthemm, :prompt => "All", :class => "selectpicker show-tick show-menu-arrow", 'data-width' => "100%"  %>


<table>
  <tr>
    <th><%= t(:name) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dteors.each do |dteor| %>
  <tr class="dteor dteor<%= dteor.dthem_id %>">
    <td><%= dteor.name %></td>
    <td>
      <% if permitted_to? :show, :dteors %>
        <%= link_to(dteor, title: t(:show)) do %>
          <i class="icon-search"></i>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if permitted_to? :edit, :dteors %>
        <%= link_to(edit_dteor_path(dteor), title: t(:edit)) do %>
          <i class="icon-edit"></i>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if permitted_to? :destroy, :dteors %>
        <%= link_to(dteor, method: :delete, data: { confirm: 'Are you sure?' }, title: t(:delete)) do  %>
          <i class="icon-trash"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<% if permitted_to? :new, :dteors %>
  <%= link_to t(:add_teor), new_dteor_path %>
<% end %>
