<p id="notice"><%= notice %></p>

<p>
  
  <h2><%== @dteor.name %></h2>
</p>

<p>
  
  <%== @dteor.teor_text %>
</p>



<% if permitted_to? :edit, :dteors %>
  <%= link_to 'Edit', edit_dteor_path(@dteor) %> |
<% end %>
<%= link_to 'Back', dteors_path %>
