<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t(:test_systems), root_path, id: "logo" %>



      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t(:home), root_path %></li>
          <% if signed_in? %>
              <li><%= link_to '!!!!TEST!!!!', new_protests_path %></li>
               <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t :tests %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  
                  <li><%= link_to t(:tests), dtests_path %></li>
                  <li><%= link_to t(:n_test), new_dtest_path %></li>
                </ul>
              </li>

           

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t :account %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  
                  <li><%= link_to t(:students), students_path %></li>
                  <li><%= link_to t(:top_student), students_top_students_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to t(:users), users_path %></li>
                  <li><%= link_to t(:profile), current_user %></li>
                  <li><%= link_to t(:settings), edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t(:sign_out), signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
              <li><%= link_to t(:sign_in), signin_path %></li>
            <% end %>
          <li><%= link_to image_tag('ua.png'),  request.fullpath.split("?")[0].insert(-1,"?locale=ua")  %></li>
          <li><%= link_to image_tag('gb.png'),  request.fullpath.split("?")[0].insert(-1,"?locale=en")  %></li>

          </ul>

      </nav>
    </div>
  </div>
</header>
